.actor-token-sync__token-image-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 158px;
    height: 158px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    pointer-events: none;
}

.actor-token-sync__token-image {
    border: 2px groove #eeede0;
    backface-visibility: hidden;
    pointer-events: all;
}

.sheet header.sheet-header .actor-token-sync__token-image img {
    object-fit: contain;
    border: none;
    width: 38px;
    height: 38px;
    flex-basis: 38px;
    margin-right: 0;
    backface-visibility: hidden;
    transition: all 0.3s;
}

.actor-token-sync__image {
    transition: transform 0.3s;
    cursor: pointer;
}

.actor-token-sync__actor-image {
    cursor: pointer;
}

.sheet header.sheet-header .actor-token-sync__actor-image:hover ~ .actor-token-sync__token-image-container .actor-token-sync__token-image img {
    width: 16px;
    height: 16px;
    flex-basis: 16px;
}

.sheet header.sheet-header .actor-token-sync__token-image:hover img {
    width: 144px;
    height: 144px;
    flex-basis: 144px;
}

.dnd5e.sheet.actor .sheet-header {
    position: relative;
}

.actor-token-sync__toolbar {
    position: absolute;
    bottom: 4px;
    left: 4px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.actor-token-sync__tiny-btn.active {
    text-shadow: 0 0 8px red;
}
